# Build
dist/
dist-ssr/
build/
*.local

# Logs
logs/
*.log
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.*
!.env.example
!.env.development
!.env.production

# Editor
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel

# Curriculum files
# Add specific files below that shouldn't be tracked
public/curriculum/README.md
# public/curriculum/test-*.json