# Common Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/

# Common Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Common IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Common Environment Files
.env
.env.*
!.env.example