# Python specific
__pycache__/
*.pyc
.pytest_cache/
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.env.*
.env.txt
!.env.example
venv/
.venv/

# Logs
*.log